PORT=
NODE_ENV=

MONGO_URI=

JWT_SECRET=
JWT_EXPIRES_IN=

REFRESH_SECRET=
REFRESH_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

RESEND_API_KEY=

WHATSAPP_TOKEN=
WHATSAPP_PHONE_ID=

LOG_LEVEL=

SENTRY_DSN=

FRONTEND_URL=http://localhost:5173